{% extends 'base.html' %}

{% block title %}Order history{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Order History</h1>
        
        <table class="table table-bordered table-hover mt-4">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Ordered on</th> 
                    <th>Shipping to</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody>
                {% for ord in orders %}
                    <tr>
                        <td>{{ ord.id }}</td>
                        <td>{{ ord.date_ordered }}</td>
                        <td>{{ ord.shipping_addr }}</td>
                        <td>£{{ ord.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <a href="/home" class="btn btn-primary">Home</a>
        </div>
    </div>
{% endblock %}
